/* .container{
    background-color: aqua;
    height: 50vh;
    background-size: cover;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
.sh{
    background-color: lightblue;
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
} */